# <img style="float: left; padding-right: 100px; width: 300px" src="../image/logo.png">AI4SG Bootcamp:



##  Combining datasets, Group by and Pivoting  operations


**Authors:** Faustine


---

In [2]:
import numpy as np
import pandas as pd

# Concatenating data

The ``pd.concat`` function does all of the heavy lifting of combining data in different ways. ``pd.concat`` takes a list or dict of Series/DataFrame objects and concatenates them in a certain direction (`axis`) with some configurable handling of “what to do with the other axes”.

Assume we have the following different:

In [3]:
data = {'country': ['Nigeria', 'Rwanda', 'Egypt', 'Morocco', ],
        'population': [182.2, 11.3, 94.3, 34.4],
        'area': [923768, 26338 , 1010408, 710850],
        'capital': ['Abuja', 'Kigali', 'Cairo', 'Rabat']}
countries_africa = pd.DataFrame(data)
countries_africa

   country  population     area capital
0  Nigeria       182.2   923768   Abuja
1   Rwanda        11.3    26338  Kigali
2    Egypt        94.3  1010408   Cairo
3  Morocco        34.4   710850   Rabat

In [4]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries_europe = pd.DataFrame(data)
countries_europe

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

<div class="alert alert-success">
<b>Activity 1</b>:
Add a cloumn for pupulation density in each dataset 
</div>

### Combining rows - ``pd.concat``

We now want to combine the rows of both datasets:

In [5]:
pd.concat([countries_europe, countries_africa])

          country  population     area    capital
0         Belgium        11.3    30510   Brussels
1          France        64.3   671308      Paris
2         Germany        81.3   357050     Berlin
3     Netherlands        16.9    41526  Amsterdam
4  United Kingdom        64.9   244820     London
0         Nigeria       182.2   923768      Abuja
1          Rwanda        11.3    26338     Kigali
2           Egypt        94.3  1010408      Cairo
3         Morocco        34.4   710850      Rabat

When the two dataframes don't have the same set of columns, by default missing values get introduced:

In [6]:
pd.concat([countries_europe, countries_africa[['country', 'capital']]], ignore_index=True, sort=False)

          country  population      area    capital
0         Belgium        11.3   30510.0   Brussels
1          France        64.3  671308.0      Paris
2         Germany        81.3  357050.0     Berlin
3     Netherlands        16.9   41526.0  Amsterdam
4  United Kingdom        64.9  244820.0     London
5         Nigeria         NaN       NaN      Abuja
6          Rwanda         NaN       NaN     Kigali
7           Egypt         NaN       NaN      Cairo
8         Morocco         NaN       NaN      Rabat

### Combining columns  - ``pd.concat`` with ``axis=1``

Assume we have another DataFrame for the same countries, but with some additional statistics:

In [7]:
data = {'country': ['Belgium', 'France', 'Netherlands'],
        'GDP': [496477, 2650823, 820726],
        'area': [8.0, 9.9, 5.7]}
country_economics = pd.DataFrame(data).set_index('country')
country_economics

                 GDP  area
country
Belgium       496477   8.0
France       2650823   9.9
Netherlands   820726   5.7

## Joining data with `pd.merge`
Using `pd.concat` above, we combined datasets that had the same columns or the same index values. But, another typical case if where you want to add information of second dataframe to a first one based on one of the columns. That can be done with [`pd.merge`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html).

Let's look again at the primary dataset, but taking a small subset of it to make the example easier to grasp:

In [67]:
df = pd.read_csv('data/primary.csv')

In [68]:
data = df.loc[:20,:]

In [69]:
data

           REGION      DISTRICT      MALE    FEMALE
0          ARUSHA  ARUSHA RURAL   32475.0   33698.0
1          ARUSHA  ARUSHA URBAN   36315.0   36993.0
2          ARUSHA        KARATU   23303.0   23181.0
3          ARUSHA       LONGIDO   10584.0    9045.0
4          ARUSHA          MERU   33854.0   34171.0
5          ARUSHA       MONDULI   13689.0   12888.0
6          ARUSHA    NGORONGORO   16017.0   12162.0
7   DAR ES SALAAM         ILALA   73129.0   78309.0
8   DAR ES SALAAM     KINONDONI   91554.0   93921.0
9   DAR ES SALAAM        TEMEKE   85118.0   88813.0
10         DODOMA          BAHI   15672.0   15967.0
11         DODOMA      CHAMWINO   26483.0   28264.0
12         DODOMA        CHEMBA       NaN       NaN
13         DODOMA  DODOMA URBAN   35137.0   36806.0
14         DODOMA        KONDOA   48859.0   55869.0
15         DODOMA        KONGWA   27169.0   30264.0
16         DODOMA       MPWAPWA   32176.0   31646.0
17          GEITA       BUKOMBE   39490.0   40178.0
18          GEITA         CHATO   39377.0   38393.0
19          GEITA         GEITA  115698.0  116328.0
20          GEITA   GEITA URBAN       NaN       NaN

Assume we have another dataframe with more information about the 'REGION' locations:

In [70]:
zones = pd.DataFrame({'REGION': ['ARUSHA', 'DAR ES SALAAM', 'DODOMA', 'GEITA'],
                          'ZONES': ['Northern zone', 'Costal zone', 'Central zone', 'Lake zone'],
                          'COUNTRY': ['Tanzania', 'Tanzania', 'Tanzania', 'Tanzania']})

In [71]:
zones

          REGION          ZONES   COUNTRY
0         ARUSHA  Northern zone  Tanzania
1  DAR ES SALAAM    Costal zone  Tanzania
2         DODOMA   Central zone  Tanzania
3          GEITA      Lake zone  Tanzania

We now want to add those columns to the data dataframe, for which we can use `pd.merge`, specifying the column on which we want to merge the two datasets:

In [72]:
pd.merge(data, zones, on='REGION', how='left')

           REGION      DISTRICT      MALE    FEMALE          ZONES   COUNTRY
0          ARUSHA  ARUSHA RURAL   32475.0   33698.0  Northern zone  Tanzania
1          ARUSHA  ARUSHA URBAN   36315.0   36993.0  Northern zone  Tanzania
2          ARUSHA        KARATU   23303.0   23181.0  Northern zone  Tanzania
3          ARUSHA       LONGIDO   10584.0    9045.0  Northern zone  Tanzania
4          ARUSHA          MERU   33854.0   34171.0  Northern zone  Tanzania
5          ARUSHA       MONDULI   13689.0   12888.0  Northern zone  Tanzania
6          ARUSHA    NGORONGORO   16017.0   12162.0  Northern zone  Tanzania
7   DAR ES SALAAM         ILALA   73129.0   78309.0    Costal zone  Tanzania
8   DAR ES SALAAM     KINONDONI   91554.0   93921.0    Costal zone  Tanzania
9   DAR ES SALAAM        TEMEKE   85118.0   88813.0    Costal zone  Tanzania
10         DODOMA          BAHI   15672.0   15967.0   Central zone  Tanzania
11         DODOMA      CHAMWINO   26483.0   28264.0   Central zone  Tanzania
12         DODOMA        CHEMBA       NaN       NaN   Central zone  Tanzania
13         DODOMA  DODOMA URBAN   35137.0   36806.0   Central zone  Tanzania
14         DODOMA        KONDOA   48859.0   55869.0   Central zone  Tanzania
15         DODOMA        KONGWA   27169.0   30264.0   Central zone  Tanzania
16         DODOMA       MPWAPWA   32176.0   31646.0   Central zone  Tanzania
17          GEITA       BUKOMBE   39490.0   40178.0      Lake zone  Tanzania
18          GEITA         CHATO   39377.0   38393.0      Lake zone  Tanzania
19          GEITA         GEITA  115698.0  116328.0      Lake zone  Tanzania
20          GEITA   GEITA URBAN       NaN       NaN      Lake zone  Tanzania

In this case we use `how='left` (a "left join") because we wanted to keep the original rows of `df` and only add matching values from `zones` to it. Other options are 'inner', 'outer' and 'right' (see the [docs](http://pandas.pydata.org/pandas-docs/stable/merging.html#brief-primer-on-merge-methods-relational-algebra) for more on this).

## Group by" operations
Consider the following data

When analyzing data, you often calculate summary statistics (aggregations like the mean, max, ...). As we have seen before, we can easily calculate such a statistic for a Series or column using one of the many available methods. For example:

In [41]:
df['FEMALE'].sum()

4160892.0

However, in many cases your data has certain groups in it, and in that case, you may want to calculate this statistic for each of the groups.

For example, in the above dataframe `df`,  REGION column has several possible values. When we want to calculate the sum for of FEMALE students in the three REGION, GEITA, DODOMA and ARUSHA, we could do the following:

In [73]:
for key in ['GEITA', 'DODOMA', 'ARUSHA']:
    print(key, df[df['REGION'] == key]['FEMALE'].sum())

GEITA 194899.0
DODOMA 198816.0
ARUSHA 162138.0

This becomes very verbose when having multiple groups. You could make the above a bit easier by looping over the different values, but still, it is not very convenient to work with.

What we did above, applying a function on different groups, is a "groupby operation", and pandas provides some convenient functionality for this.

The "group by" concept: we want to **apply the same function on subsets of your dataframe, based on some key to split the dataframe in subsets**

This operation is also referred to as the "split-apply-combine" operation, involving the following steps:

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

<img src="img/splitApplyCombine.png">

Similar to SQL `GROUP BY`

In [74]:
df.groupby('REGION')[["FEMALE"]].sum()

                 FEMALE
REGION
ARUSHA         162138.0
DAR ES SALAAM  261043.0
DODOMA         198816.0
GEITA          194899.0
IRINGA         107414.0
KAGERA         227473.0
KATAVI          44976.0
KIGOMA         171069.0
KILIMANJARO    147679.0
LINDI           81271.0
MANYARA        124969.0
MARA           209713.0
MBEYA          275118.0
MOROGORO       202040.0
MTWARA         120962.0
MWANZA         327066.0
NJOMBE          79124.0
PWANI          111494.0
RUKWA           96255.0
RUVUMA         145041.0
SHINYANGA      153218.0
SIMIYU         145354.0
SINGIDA        126755.0
TABORA         206371.0
TANGA          240634.0

In the previous example, we  grouped by a single column by passing its name. But, a column name is not the only value you can pass as the grouper in `df.groupby(grouper)`. Other possibilities for `grouper` are:

- a list of strings (to group by multiple columns)
- a Series (similar to a string indicating a column in df) or array
- function (to be applied on the index)
- levels=[], names of levels in a MultiIndex

In [58]:
df.groupby(['REGION', 'DISTRICT'])['FEMALE'].mean()

REGION         DISTRICT
ARUSHA         ARUSHA RURAL      33698.0
               ARUSHA URBAN      36993.0
               KARATU            23181.0
               LONGIDO            9045.0
               MERU              34171.0
               MONDULI           12888.0
               NGORONGORO        12162.0
DAR ES SALAAM  ILALA             78309.0
               KINONDONI         93921.0
               TEMEKE            88813.0
DODOMA         BAHI              15967.0
               CHAMWINO          28264.0
               CHEMBA                NaN
               DODOMA URBAN      36806.0
               KONDOA            55869.0
               KONGWA            30264.0
               MPWAPWA           31646.0
GEITA          BUKOMBE           40178.0
               CHATO             38393.0
               GEITA            116328.0
               GEITA URBAN           NaN
               MBOGWE                NaN
               NYANG'HWALE           NaN
IRINGA         IRINGA RURAL      28990.0
               IRINGA URBAN      13449.0
               KILOLO            30316.0
               MUFINDI           34659.0
KAGERA         BIHARAMULO        20865.0
               BUKOBA RURAL      28264.0
               BUKOBA URBAN      10654.0
                                  ...
SHINYANGA      USHETU                NaN
SIMIYU         BARIADI RURAL     79153.0
               BARIADI URBAN         NaN
               BUSEGA                NaN
               ITILIMA               NaN
               MASWA             33992.0
               MEATU             32209.0
SINGIDA        IKUNGI                NaN
               IRAMBA            40906.0
               MANYONI           24947.0
               MKALAMA               NaN
               SINGIDA RURAL     46895.0
               SINGIDA URBAN     14007.0
TABORA         IGUNGA            35892.0
               KALIUA                NaN
               NZEGA             50067.0
               SIKONGE           15217.0
               TABORA URBAN      23134.0
               URAMBO            45939.0
               UYUI              36122.0
TANGA          BUMBULI               NaN
               HANDENI           35379.0
               KILINDI           40330.0
               KOROGWE RURAL     25000.0
               KOROGWE URBAN      6057.0
               LUSHOTO           70238.0
               MKINGA            12568.0
               MUHEZA            19650.0
               PANGANI            4925.0
               TANGA URBAN       26487.0
Name: FEMALE, Length: 163, dtype: float64

Oftentimes you want to know how many elements there are in a certain group (or in other words: the number of occurences of the different values from a column).

To get the size of the groups, we can use `size`:

In [59]:
df.groupby('REGION').size()

REGION
ARUSHA            7
DAR ES SALAAM     3
DODOMA            7
GEITA             6
IRINGA            4
KAGERA            8
KATAVI            4
KIGOMA            7
KILIMANJARO       7
LINDI             6
MANYARA           6
MARA              8
MBEYA            10
MOROGORO          7
MTWARA            7
MWANZA            7
NJOMBE            6
PWANI             7
RUKWA             4
RUVUMA            6
SHINYANGA         7
SIMIYU            6
SINGIDA           6
TABORA            7
TANGA            10
dtype: int64

## Pivoting data

People who know Excel, probably know the **Pivot** functionality:

In [63]:
df = pd.DataFrame({'Month': ["January", "January", "January", "January", 
                                  "February", "February", "February", "February", 
                                  "March", "March", "March", "March"],
                   'Category': ["Transportation", "Grocery", "Household", "Entertainment",
                                "Transportation", "Grocery", "Household", "Entertainment",
                                "Transportation", "Grocery", "Household", "Entertainment"],
                   'Amount': [74., 235., 175., 100., 115., 240., 225., 125., 90., 260., 200., 120.]})

In [66]:
df

       Month        Category  Amount
0    January  Transportation    74.0
1    January         Grocery   235.0
2    January       Household   175.0
3    January   Entertainment   100.0
4   February  Transportation   115.0
5   February         Grocery   240.0
6   February       Household   225.0
7   February   Entertainment   125.0
8      March  Transportation    90.0
9      March         Grocery   260.0
10     March       Household   200.0
11     March   Entertainment   120.0

In [76]:
df.pivot(index="DISTRICT", columns="FEMALE", values="MALE")

FEMALE,nan,4477.0,4925.0,6057.0,6462.0,6863.0,8081.0,8678.0,8685.0,9045.0,...,61567.0,70238.0,72439.0,75419.0,75747.0,78309.0,79153.0,88813.0,93921.0,116328.0
DISTRICT,,,,,,,,,,,,,,,,,,,,,
ARUSHA RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARUSHA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BABATI RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BABATI URBAN,NaN,NaN,NaN,NaN,NaN,NaN,7910.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAGAMOYO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BARIADI RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,75089.0,NaN,NaN,NaN
BARIADI URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BIHARAMULO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUHIGWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUKOBA RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUKOBA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUKOMBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUMBULI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUNDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUSEGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUSOKELO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUTIAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHAMWINO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHATO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHEMBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHUNYA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DODOMA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GAIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GEITA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115698.0
GEITA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HAI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HANANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HANDENI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IGUNGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RUFIJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RUNGWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SENGEREMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,75842.0,NaN,NaN,NaN,NaN,NaN,NaN
SERENGETI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SHINYANGA RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SHINYANGA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8638.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIKONGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIMANJIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SINGIDA RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SINGIDA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SONGEA RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SONGEA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUMBAWANGA RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUMBAWANGA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TABORA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TANDAHIMBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TANGA URBAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TARIME RURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TARIME TC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TEMEKE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85118.0,NaN,NaN
TUNDURU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UKEREWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ULANGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
URAMBO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USHETU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UVINZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UYUI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WANGING'OMBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN